<!-- navbar.ejs -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>NavBar</title>
</head>
<body>
    <nav class="navbar">
        <a href="/" class="navbar-brand">CashCow</a>
        <br>
        <div class="navbar-nav">
            <a href="/settings" class="nav-link">Settings</a>
            <a href="/profile" class="nav-link">Profile</a>
        </div>
    </nav>
</body>
</html>
