<!--This is the Landing Page. This will host the login space/Create Account Link. It will be what the viewer sees upon arrival-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/loginstyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>This is the Landing Page. This will host the login space/Create Account Link. It will be what the viewer sees upon arrival
        It also uses a separate css that can be adusted using AI to fit whatever Luke comes up with,
        adding extra words to this
    </h1>
</body>
<footer class="footer">
    &copy; 2024 CashCow. All rights reserved.
</footer>
</html>