<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/loginstyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="login-container">
        <div class="login-header">Login to Dashboard</div>
        
        <form class="login-form">
            <div>
                <label for="username">Username</label>
                <input type="text" id="username" class="form-control" placeholder="Enter your username">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" placeholder="Enter your password">
            </div>
            
            <button type="submit" class="login-btn">Login</button>
        </form>

        <a href="#" class="login-link">Forgot Password?</a>
    </div>

</body>
<footer class="footer">
    &copy; 2024 CashCow. All rights reserved.
</footer>
</html>
